<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MyPlugin</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>DVTPlugInCompatibilityUUIDs</key>
	<array>
		<string>C80A9C11-3902-4885-944E-A035869BA910</string>
		<string>2FD51EF8-522D-4532-9698-980C4C497FD1</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).ToColor</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>yingguqing.ToColor</string>
					<key>XCSourceEditorCommandName</key>
					<string>转颜色代码</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).CopyLine</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>yingguqing.CopyLineUp</string>
					<key>XCSourceEditorCommandName</key>
					<string>向上复制</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).CopyLine</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>yingguqing.CopyLineDown</string>
					<key>XCSourceEditorCommandName</key>
					<string>向下复制</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).CommandLine</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>yingguqing.Command</string>
					<key>XCSourceEditorCommandName</key>
					<string>//注释代码</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).FormatCode</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>yingguqing.FormatCode</string>
					<key>XCSourceEditorCommandName</key>
					<string>格式化代码</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).InsertEnter</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>yingguqing.UpInsertEnter</string>
					<key>XCSourceEditorCommandName</key>
					<string>上一行回车</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).InsertEnter</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>yingguqing.DownInsertEnter</string>
					<key>XCSourceEditorCommandName</key>
					<string>下一行回车</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).AddImport</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>yingguqing.import</string>
					<key>XCSourceEditorCommandName</key>
					<string>导入头文件</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Capitalization</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>yingguqing.UppercaseString</string>
					<key>XCSourceEditorCommandName</key>
					<string>选中内容大写</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).Capitalization</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>yingguqing.lowercaseString</string>
					<key>XCSourceEditorCommandName</key>
					<string>选中内容小写</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).LongCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>yingguqing.LongCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>/**/注释代码</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 影孤清. All rights reserved.</string>
</dict>
</plist>
